---
import Mainlayout from "../layouts/Layout.astro";
---
<Mainlayout id="main">
  <div id="container">
    <p id="about-me">About Me</p>

    <img id="cloud1" src="cloud.png" alt="" />
    <img id="cloud2" src="cloud.png" alt="" />
  </div>
  
</Mainlayout>