---
import Mainlayout from "../layouts/Layout.astro";
import ProjectGallery from "../components/ProjectGallery.astro";
---

<Mainlayout id="main">
  <div id="container">
    <p id="hey">Hey I’m Jaypee a</p>
    <img id="visual" src="Visual.svg" alt="" />
    <img id="designer" src="Designer.svg" alt="" />

    <img id="cloud1" src="/Images/cloud.png" alt="" />
    <img id="cloud2" src="/Images/cloud.png" alt="" />
    <img id="cloud3" src="/Images/cloud3.png" alt="" />
  </div>
  <div class="bigcontainer">
    <div class="menu-container">
      <div class="menu-item" data-filter="print">Print media</div>
      <div class="menu-item" data-filter="uiux">Ui Ux Design</div>
      <div class="menu-item" data-filter="branding">Branding</div>
      <div class="menu-item" data-filter="photo">Photography</div>
      <div class="menu-item" data-filter="video">Videography</div>
      <div class="menu-item" data-filter="research">Research</div>
      <div class="menu-item" data-filter="all">Show All</div>
    </div>
    <div class="grid-container">
      <a href="/timo">
        <div class="grid-item" data-category="print">
          <img src="timo.png" alt="Project 1" />
          <div class="overlay">
            Board game design "TIMO: Time Is Money Challenge"
          </div>
        </div>
      </a>

      <a href="/zellygoms">
        <div class="grid-item" data-category="branding">
          <img src="zellygoms.png" alt="Project 2" />
          <div class="overlay">
            ZellyGoms - Visual Identity, Packaging, Ad creatives
          </div>
        </div>
      </a>

      <a href="/xdefend">
        <div class="grid-item" data-category="branding">
          <img src="xdefend.png" alt="Xdefend" />
          <div class="overlay">Logo design project for XDefend</div>
        </div>
      </a>
      <a href="/famyo-identity">
        <div class="grid-item" data-category="branding">
          <img src="famyo-identity.png" alt="famyo brand identity" />
          <div class="overlay">
            Famyo: Brand Identity and Brand Guideline Booklet
          </div>
        </div>
      </a>
      <a href="/secmatrix-brochure">
        <div class="grid-item" data-category="print">
          <img src="secmatrix-brochure.png" alt="Shreeji Templates" />
          <div class="overlay">
            Brochure Design for a cybersecurity course by SECMATRIX
          </div>
        </div>
      </a>
      <a href="/shreeji">
        <div class="grid-item" data-category="print">
          <img src="shreeji.png" alt="Secmatrix Brochure Design" />
          <div class="overlay">
            Printables, Sublimations, and party templates for Shreeji Templates
          </div>
        </div>
      </a>
      <a href="/basictech">
        <div class="grid-item" data-category="UiUx">
          <img src="basictech.png" alt="basictech" />
          <div class="overlay">Website Design For an It consultancy agency</div>
        </div>
      </a>
      <a href="/lastday">
        <div class="grid-item" data-category="UiUx">
          <img src="lastday.png" alt="basictech" />
          <div class="overlay">Motion Graphics for a music video</div>
        </div>
      </a>
      <a href="/manjuben">
        <div class="grid-item" data-category="UiUx">
          <img src="manjuben.jpg" alt="basictech" />
          <div class="overlay">Non fiction film about dog a rescuer</div>
        </div>
      </a>
       <a href="/hillsquills">
        <div class="grid-item" data-category="UiUx">
          <img src="hillsquills.png" alt="basictech" />
          <div class="overlay">Non fiction film about dog a rescuer</div>
        </div>
      </a>
      <div class="grid-item">
        <img src="project2.png" alt="Project 3" />
      </div>
      <div class="grid-item">
        <img src="project1.png" alt="Project 3" />
      </div>
      <div class="grid-item">
        <img src="project2.png" alt="Project 1" />
      </div>
      <div class="grid-item">
        <img src="project1.png" alt="Project 2" />
      </div>
      <div class="grid-item">
        <img src="project1.png" alt="Project 3" />
      </div>
      <div class="grid-item">
        <img src="project1.png" alt="Project 3" />
      </div>
    </div>
  </div>
  <script is:inline>
    // Filtering
    const buttons = document.querySelectorAll(".menu-item");
    const projects = document.querySelectorAll(".grid-container > *");

    function applyFilter(filter, button) {
      buttons.forEach((btn) => btn.classList.remove("active"));
      button.classList.add("active");

      projects.forEach((project) => {
        const gridItem = project.querySelector(".grid-item");
        const category = gridItem
          ? gridItem.getAttribute("data-category")
          : null;

        if (filter === "all" || category === filter) {
          // show before animating
          project.style.display = "block";
          requestAnimationFrame(() => {
            project.classList.remove("fade-out");
            project.classList.add("fade-in");
          });
        } else {
          project.classList.remove("fade-in");
          project.classList.add("fade-out");

          // wait for animation, then hide
          setTimeout(() => {
            project.style.display = "none";
          }, 300);
        }
      });
    }

    // click + touch events
    buttons.forEach((button) => {
      const filter = button.getAttribute("data-filter");

      button.addEventListener("click", () => {
        applyFilter(filter, button);
      });

      button.addEventListener("touchstart", (e) => {
        e.preventDefault();
        applyFilter(filter, button);
      });
    });
  </script>
</Mainlayout>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* space between items */
  }

  .grid-container > * {
    opacity: 1;
    transform: scale(1);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .fade-out {
    opacity: 0;
    transform: scale(0.9);
  }

  .fade-in {
    opacity: 1;
    transform: scale(1);
    display: block !important;
  }

  #cloud3 {
    display: none;
  }

  #hey {
    margin-bottom: 0;
  }

  .grid-item {
    position: relative; /* So overlay can position itself over the image */
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #a3c7e3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    background-color: white;
    height: 250px;
    max-width: 400px;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.8)
    );
    color: white;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    text-align: left;
    opacity: 0;
    transition: opacity 0.7s ease;
    font-family: cloud;
    font-weight: 100;
    text-shadow: black 1px 1px;
  }

  .grid-item:hover .overlay {
    opacity: 1;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px; /* space between items */
    max-width: 1700px;
    margin: 0 auto;
  }

  .grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #a3c7e3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    background-color: white;
    height: 250px;
  }

  .grid-item img:hover {
    transform: scale(1.06);
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    transition: transform 0.9s ease;
  }

  .menu-container {
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow-x: auto;
    display: flex;
    gap: 20px;
    padding: 20px 20px;
    border: 1px solid #a3c7e3;
    border-radius: 20px;
    background-color: white;
    max-width: 70%;
    margin: 20px auto;
    font-family: "Recoleta", Georgia, serif;
    max-width: 1690px;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 140px;
    z-index: 10;
  }
  .menu-container {
    scrollbar-width: none; /* For Firefox */
  }

  .menu-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, Edge */
  }

  .menu-item {
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #f0f8ff;
    color: #3290ca;
    font-size: 30px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
  }

  .menu-item.active {
    background-color: #3290ca;
    color: white;
  }

  .menu-item:hover {
    background-color: #cbe8f8;
  }

  #hey {
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-family: "Recoleta", Georgia, serif;
    margin-top: 100px;
  }

  #container {
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1700px;
    position: relative;
    transition: opacity 0.5s ease;
    padding: 0 90px;
    overflow-x: clip;
  }

  #cloud1 {
    position: absolute;
    top: 500px;
    left: -100px;
  }
  #cloud2 {
    position: absolute;
    top: 150px;
    right: -130px;
    width: 1200px;
  }

  #visual {
    margin-top: 1px;
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-self: right;
  }

  #designer {
    align-self: flex-end;
    width: 1200px;
  }
  .bigcontainer {
    height: fit-content;
    padding: 0 90px;
  }

  @media (max-width: 600px) {
    #hey {
      margin-bottom: 0;
      font-size: 5ch;
    }

    #container {
      transition: opacity 0.5s ease;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 570px;
      position: relative;
      transition: opacity 0.5s ease;
      padding: 0 20px;
      overflow-x: clip;
    }

    #cloud1 {
      position: absolute;
      top: 230px;
      left: -270px;
      width: 600px;
    }
    #cloud2 {
      position: absolute;
      top: 120px;
      right: -250px;
      width: 600px;
    }

    #visual {
      margin-top: 1px;
      display: flex;
      width: 100%;
      max-width: 350px;
      justify-self: right;
    }
    #designer {
      align-self: flex-end;
      width: 390px;
    }

    .menu-container {
      display: flex;
      flex-wrap: nowrap; /* Prevent wrapping */
      overflow-x: auto; /* Enable horizontal scroll */
      white-space: nowrap; /* Keep items in one line */
      gap: 10px;
      padding: 10px;
      border: 1px solid #a3c7e3;
      border-radius: 20px;
      background-color: white;
      max-width: 100%;
      margin: 20px auto;
      font-family: "Recoleta", Georgia, serif;
      position: sticky;
      top: 7%;
      z-index: 10;

      /* Visual hint: subtle fading edges */
      background-image: linear-gradient(
          to right,
          white 90%,
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(to left, white 90%, rgba(255, 255, 255, 0));
      background-position:
        left center,
        right center;
      background-repeat: no-repeat;
      background-size: 30px 100%;
    }

    /* Hide scrollbar but still allow scrolling */
    .menu-container::-webkit-scrollbar {
      height: 6px;
    }
    .menu-container::-webkit-scrollbar-thumb {
      background: #cbe8f8;
      border-radius: 3px;
    }

    .menu-item {
      flex: 0 0 auto; /* Prevent shrinking */
      padding: 8px 12px;
      border-radius: 15px;
      background-color: #f0f8ff;
      color: #3290ca;
      font-size: 18px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .bigcontainer {
      padding: 20px;
    }

    .grid-item {
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      border: 2px solid #a3c7e3;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      background-color: white;
      height: 300px;
    }
    .grid-item .overlay {
      opacity: 1;
      transition: none;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(46, 46, 46, 0.8)
      );
      color: white;
      font-size: 20px;
      padding-top: 40px;
      padding-left: 20px;
      padding-bottom: 15px;
      padding-right: 20px;
      text-align: left;
      opacity: 0;
      transition: opacity 0.7s ease;
      font-family: cloud;
      font-weight: 100;
      text-shadow: black 1px 1px;
    }
  }

  @media (max-width: 600px) {
    #hey {
      margin-bottom: 0;
      font-size: 20px;

      margin-top: 60px;
    }

    #container {
      transition: opacity 0.5s ease;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 470px;
      position: relative;
      transition: opacity 0.5s ease;
      padding: 0 20px;
    }

    #cloud1 {
      position: absolute;
      top: 150px;
      left: -170px;
      width: 400px;
    }

    #cloud3 {
      display: block;
      position: absolute;
      top: 50px;
      right: 0px;
      width: 200px;
    }

    #cloud2 {
      width: 0px;
    }
    #visual {
      margin-top: 1px;
      display: flex;
      width: 100%;
      max-width: 260px;
      justify-self: right;
    }
    #designer {
      align-self: flex-end;
      width: 300px;
    }

    .menu-container {
      display: flex;
      flex-wrap: nowrap; /* Prevent wrapping */
      overflow-x: auto; /* Enable horizontal scroll */
      white-space: nowrap; /* Keep items in one line */
      gap: 10px;
      padding: 10px;
      border: 1px solid #a3c7e3;
      border-radius: 10px;
      background-color: white;
      max-width: 100%;
      margin: 20px auto;
      font-family: "Recoleta", Georgia, serif;
      position: sticky;
      top: 47px;
      z-index: 10;
    }

    /* Hide scrollbar but still allow scrolling */
    .menu-container::-webkit-scrollbar {
      height: 6px;
    }
    .menu-container::-webkit-scrollbar-thumb {
      background: #3290ca;
      border-radius: 3px;
    }

    .menu-item {
      margin-top: 10px;
      flex: 0 0 auto; /* Prevent shrinking */
      padding: 3px 10px;
      border-radius: 15px;
      background-color: #f0f8ff;
      color: #3290ca;
      font-size: 15px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .bigcontainer {
      padding: 20px;
    }

    .grid-item {
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      border: 2px solid #a3c7e3;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      background-color: white;
      height: 300px;
    }
    .grid-item .overlay {
      opacity: 1;
      transition: none;
    }
    .menu-item.active {
      background-color: #3290ca;
      color: white;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(46, 46, 46, 0.8)
      );
      color: white;
      font-size: 20px;
      padding-top: 40px;
      padding-left: 20px;
      padding-bottom: 15px;
      padding-right: 20px;
      text-align: left;
      opacity: 0;
      transition: opacity 0.7s ease;
      font-family: cloud;
      font-weight: 100;
      text-shadow: black 1px 1px;
    }
    html {
      cursor: none;
    }
  }
</style>
