---
import Mainlayout from "../layouts/Layout.astro";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
<Mainlayout>

<h1 id="dd" >
  Visual
</h1>
<h1 id="dc" >

Designer
</h1>

</Mainlayout>

  </body>
</html>

<style>
#dd {
display: flex;
  font-family: 'Recoleta';
  font-size: 300px;
  margin: 0;
}
#dc {
  display: flex;
  font-family: 'Recoleta';
  font-size: 300px;
  justify-content: end;
  padding: 0;
  margin: 0;
}

</style>