---
import Mainlayout from "../layouts/Layout.astro";
---

<Mainlayout id="main">
  <div id="container">
    <p id="about-me">About Me</p>

    <img id="cloud1" src="/Images/cloud.png" alt="" />
    <img id="cloud2" src="/Images/cloud.png" alt="" />
    <img id="cloud3" src="/Images/cloud3.png" alt="" />
  </div>
  <div id="bigcontainer">
    <div id="container2">
      <div class="left-column">
        <img src="/Images/Profile.png" alt="Jaypal Photo" class="profile-photo" />

        <section class="intro">
          <h2>Introduction</h2>
          <p>
            Hi, my full name is Jaipal Singh Sonigara. I’m 21 years old and I’m
            from Nagaur, Rajasthan. Most people call me Jaypee, so I have also
            made my visual identity around that name. I have 3 years of
            experience in graphic design and 1 year of experience in web and
            interface design. My work experience includes brand identity,
            packaging, sublimation design, social media and ad creatives,
            interface design, game design, videography, and photography.
            <br />
            <br />

            Currently, I am studying Visual Communication in the MDes CD course
            at Dhirubhai Ambani University, and I am aspiring to become a visual
            designer.
            <br />
            <br />
            In my free time, you will often find me working on random graphic artworks,
            listening to ghazals, trap and hip-hop music.

          </p>
        </section>

        <section class="achievements">
          <h2>Achievements</h2>
          <ul>
            <li>
              Won First Prize at the Curious Carnival 2025, held at the Indian
              Institute of Technology, Gandhinagar.
            </li>
          </ul>
        </section>

        <section class="softwares">
          <h2>Softwares I Know</h2>
          <div class="icons">
            <img src="/Images/ai.png" alt="Adobe Illustrator" />
            <img src="/Images/ps.png" alt="Photoshop" />
            <img src="/Images/ae.png" alt="After Effects" />
          </div>
        </section>
        <section class="socials">
          <h2>My Socials</h2>
          <div class="icons">
            <a href="https://instagram.com/jaypeebanna">
              <img src="/Images/ig.png" alt="Instagram" />
            </a>
            <a href="https://linkedin.com/in/jaypal-singh-34586a224">
              <img src="/Images/in.png" alt="LinkedIn" />
            </a>
            <a href="https://pinterest.com/jpjayal">
              <img src="/Images/pin.png" alt="Pinterest" />
            </a>
          </div>
        </section>
      </div>
      <div class="right-column">
        <div id="career">
          <h1 id="career">Career Journey</h1>
        </div>

        <div>
          <img id="journey" src="journeyy.svg" alt="" />

          <div class="jobcard-famyo">
            <h2>Summer Internship,<br />Visual Design</h2>

            <div class="info-row1">
              <img src="/Images/clock-icon.svg" alt="Clock" class="icon" />
              <span><strong>June–Aug 2025</strong></span>
            </div>

            <div class="info-row2">
              <img src="/Images/building-icon.svg" alt="Company" class="icon" />
              <span>Famyo</span>
            </div>
          </div>
          <div class="jobcard-famyo2">
            <h2>Masters in <br />Communication Design</h2>

            <div class="info-row1">
              <img src="/Images/clock-icon.svg" alt="Clock" class="icon" />
              <span><strong>2024-26</strong></span>
            </div>

            <div class="info-row2">
              <img src="/Images/building-icon.svg" alt="Company" class="icon" />
              <span>Daiict, Gandhinagar</span>
            </div>
          </div>

          <div class="jobcard-famyo3">
            <h2>Freelance in Graphic<br /> and UiUx Design</h2>

            <div class="info-row1">
              <img src="/Images/clock-icon.svg" alt="Clock" class="icon" />
              <span><strong>2023-24</strong></span>
            </div>

            <div class="info-row2">
              <img src="/Images/building-icon.svg" alt="Company" class="icon" />
              <span>Self Employed</span>
            </div>
          </div>
          <div class="jobcard-famyo4">
            <h2>Graphic Designer And <br />Web Designer</h2>
            <div class="info-row1">
              <img src="/Images/clock-icon.svg" alt="Clock" class="icon" />
              <span><strong>Jan 2023 - Jan 2024</strong></span>
            </div>

            <div class="info-row2">
              <img src="/Images/building-icon.svg" alt="Company" class="icon" />
              <span>Secmatrix</span>
            </div>
          </div>
        </div>
        <div class="jobcard-famyo5">
          <h2>Bachelor of Science (B.Sc),<br /> Mathematics</h2>
          <div class="info-row1">
            <img src="/Images/clock-icon.svg" alt="Clock" class="icon" />
            <span><strong>2022-2024</strong></span>
          </div>

          <div class="info-row2">
            <img src="/Images/building-icon.svg" alt="Company" class="icon" />
            <span>Mdsu Ajmer </span>
          </div>
        </div>
        <section class="socials-mobile">
          <h2>My Socials</h2>
          <div class="icons">
            <a href="https://instagram.com/jaypeebanna">
              <img src="/Images/ig.png" alt="Instagram" />
            </a>
            <a href="https://linkedin.com/in/jaypal-singh-34586a224">
              <img src="/Images/in.png" alt="LinkedIn" />
            </a>
            <a href="https://pinterest.com/jpjayal">
              <img src="/Images/pin.png" alt="Pinterest" />
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>
</Mainlayout>

<style>
  .socials-mobile {
    display: none;
  }
  #cloud3 {
    display: none;
  }

  #about-me {
    color: aliceblue;
    font-size: 300px;
    font-family: "Recoleta", Georgia, serif;
    margin: 50px auto;
  }

  #container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    max-width: 1700px;
    position: relative;
    height: 1000px;
    z-index: 1;
  }

  #cloud1 {
    position: absolute;
    top: 250px;
    left: -360px;
  }
  #cloud2 {
    position: absolute;
    top: -120px;
    right: -930px;
    width: 1600px;
  }

  #visual {
    margin-top: 1px;
    display: flex;
    width: 1000px;
    justify-self: right;
  }

  #designer {
    align-self: flex-end;
    width: 1200px;
  }
  #bigcontainer {
    background-color: rgb(255, 255, 255);
    margin-top: -500px;
    border-top: 1px #a3c7e3 solid;
    z-index: 2;
  }

  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
  }

  #container2 {
    display: grid;
    grid-template-columns: 50% 50%; /* first column 40%, second 60% */
    gap: 20px;
    gap: 40px;
    margin: 0 auto;
    max-width: 1700px;
    z-index: 500;
    position: relative;
    margin-bottom: 200px;
  }

  .left-column {
    height: 2100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -150px;
  }
  .left-column h2 {
    color: #419eda;
    font-family: recoleta;
    padding-top: 10px;
    font-weight: 200;
    font-size: 60px;
  }
  .left-column p,
  ul {
    font-family: cloud;
    margin-top: -40px;
    color: #757575;
  }

  .right-column span {
    font-weight: 100;
  }

  .profile-photo {
    width: 350px;
    border-radius: 100%;
    display: block;
    margin-bottom: -200px;
  }

  .right-column h2 {
    color: #757575;
    margin-top: 30px;
    font-weight: 100;
  }

  .icons img {
    width: 50px;
    margin-right: 10px;
    margin-top: -20px;
  }

  .right-column {
    display: flex;
    position: relative;
    font-family: cloud;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
  }
  #journey {
    position: absolute;
    margin-left: 145px;
    margin-top: 100px;
    width: 600px;
    opacity: 20%;
  }
  #career {
    font-size: 50px;
    color: #419eda;
    font-weight: 100;
    width: fit-content;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: -40px;
    font-family: recoleta;
  }
  .jobcard-famyo {
    margin-left: 370px;
    margin-top: 270px;
    font-size: 20px;
    min-width: 250px;
    color: #757575;
  }
  .jobcard-famyo2 {
    margin-left: 200px;
    margin-top: 270px;
    font-size: 20px;
    min-width: 250px;
    color: #757575;
  }
  .jobcard-famyo3 {
    margin-left: 370px;
    margin-top: 270px;
    font-size: 20px;
    min-width: 250px;
    color: #757575;
  }
  .jobcard-famyo4 {
    margin-left: 200px;
    margin-top: 270px;
    font-size: 20px;
    min-width: 250px;
    color: #757575;
  }
  .jobcard-famyo5 {
    margin-left: 250px;
    margin-top: 90px;
    font-size: 20px;
    min-width: 250px;
    color: #757575;
  }
  .info-row2 {
    font-family: Cloudthin;
    margin-top: 5px;
    font-weight: 100;
  }
  .info-row2,
  .info-row1 {
    font-size: 25px;
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  .right-column .icon {
    width: 40px;
    margin-top:;
    padding-right: 10px;
  }
  .right-column h2 {
    margin-bottom: 10px;
    line-height: 1.3;
  }

  .left-column {
    font-size: 30px;
  }

  .icons img {
    width: 100px;
  }
  .intro {
    padding-top: 100px;
  }
  .icons a {
    text-decoration: none; /* removes underline */
  }
  #journey {
    z-index: 0;
  }

  @media (max-width: 600px) {
    html {
      cursor: none;
    }
  }

  @media (max-width: 600px) {
    html {
      cursor: none;
    }

    body {
      overflow-x: hidden; /* stops sideways scrolling */
    }

    #container {
      max-width: 95%;
      margin: 20px;
      max-height: fit-content;
    }

    #cloud2 {
      display: none;
    }

    #cloud1 {
      position: absolute;
      top: 100px;
      left: -170px;
      width: 300px;
      opacity: 0.6;
      z-index: 1; /* behind text */
    }

    #cloud3 {
      display: block;
      position: absolute;
      top: 0px;
      right: -20px;
      width: 120px;
      opacity: 0.6;
      z-index: 1; /* behind text */
    }

    #about-me {
      position: relative;
      z-index: 5; /* above clouds */
      font-family: "Recoleta", Georgia, serif;
      font-size: 70px; /* readable on mobile */
      color: aliceblue; /* visible even over light background */
      font-weight: 400;
      text-align: center;
    }
    #bigcontainer {
      max-width: 100%;
      margin-top: 0;
      margin-bottom: -160px !important;
    }
    #container2 {
      display: flex;
      flex-direction: column;
      max-width: 90%;
      height: fit-content;
    }
    #journey {
      max-width: 100%;
      left: 0px;
      margin: 0;
      top: 120px;
    }

    .jobcard-famyo {
      margin-top: 190px;
      margin-left: 90px;
      white-space: nowrap;
    }

    #career {
      font-size: 40px;
      padding: 0;
      text-align: right;
    }

    .jobcard-famyo2 {
      margin-top: 120px;
      margin-left: 30px;
      white-space: nowrap;
    }
    .jobcard-famyo3 {
      margin-top: 120px;
      margin-left: 80px;
      white-space: nowrap;
    }
    .jobcard-famyo4 {
      margin-top: 130px;
      margin-left: 30px;
      white-space: nowrap;
    }

    .jobcard-famyo5 {
      margin-top: 10px;
      margin-left: 25px;
      white-space: nowrap;
    }
    .socials-mobile {
      display: block;
      font-family: recoleta;
      margin: 0 auto;
      padding-top: 20px;
    }
    .socials-mobile img {
      padding-left: 5px;
      padding-right: 5px;
    }

    .socials-mobile h2 {
      display: flex;
      font-size: 30px !important ;
      padding-bottom: 20px;
      margin-top: 40px !important;
      color: #419eda !important ;
      justify-content: center;
    }

    .right-column h2 {
      color: #757575;
      margin-top: 30px;
      font-weight: 100;
      font-size: 20px;
    }
    .info-row1 {
      font-size: 20px;
    }
    .info-row2 {
      display: flex;
      align-items: center;
      font-size: 20px;
    }

    .info-row2 span {
      display: flex;
      align-items: center;
      margin-top: 5px;
    }
    .right-column .icon {
      max-width: 26px;
    }

    .right-column {
      position: relative;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      height: fit-content;
    }
    .left-column {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }

    .socials {
      display: none;
    }
    .profile-photo {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -70px;
      margin-top: -60px;
    }

    .left-column h2 {
      color: #419eda;
      font-family: recoleta;
      font-weight: 200;
      font-size: 35px;
      max-width: 100%;
      padding-bottom: 10px;
    }
    .left-column p,
    ul {
      font-family: cloud;
      color: #757575;
      font-size: 18px;
      max-width: 100%;
    }

    .icons img {
      max-width: 60px;
    }
  }
</style>
