<div class="work">
  <img src="/public/Work-in-Progress.png" alt="" />
  <p>Work in Progress</p>
</div>

<style>
  .work {
    max-width: 600px;
    padding: 190px;
    align-items: center;
  }
  img {
    width: 100%;
    margin: 0 auto;
  }
  p {
    font-size: 50px;
    text-align: center;
    font-family: cloud;
    font-family: "Recoleta", Georgia, serif;
    margin: 0;
  }
</style>
